<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<%= render 'full_fields', :f => f %>
<div class = "action">
	<%= f.submit "Sign up" %>
	</div>
<% end %>