// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field label{
	width: 120px;
	margin-right: 10px;
	text-align: right;
	float: left;
	display: block;
	font-weight: bold;
}

.field_with_errors label {
	color: white;
	background-color: #FF6666;
	text-align: center;
	//width: 75px;
}

#error_explanation{
	width: 450px;
	border: 2px solid red;
	margin-bottom: 20px;
	padding-bottom: 0px;
}

#error_explanation h3{
	color: white;
	background-color: #FF6666;
	margin-top: 0px;
	padding: 2px;
}


.field input{
	margin-bottom: 15px;
}

.action{
	margin-left: 280px;
}