<footer>
	<nav class="round">
		<ul class="round">
			<li class="horizontal"><%= link_to "About", about_path %></li>
			<li class="horizontal"><%= link_to "Contact", contact_path%></li>
			<li class="horizontal"><%= link_to "News", 'http://www.bbc.co.uk' %></li>
		</ul>
	</nav>
</footer>