<%= link_to logo, root_path %>
		<nav class="round">
			<ul class = "round">
				<li class="horizontal first"><%= link_to "Home", root_path %></li>
				<li class="horizontal"><%= link_to "Help", help_path %></li>
				<li class="horizontal"><%= link_to "Sign In", signup_path %></li>
			</ul>	
		</nav>